In [1]:
#1st step - Install all required libraries
"""
!pip install --upgrade pandas
!pip install --upgrade numpy
!pip install --upgrade matplotlib
!pip install --upgrade seaborn
!pip install --upgrade scipy
!pip install --upgrade tensorflow
!pip install --upgrade keras
!pip install --upgrade sklearn
"""

'\n!pip install --upgrade pandas\n!pip install --upgrade numpy\n!pip install --upgrade matplotlib\n!pip install --upgrade seaborn\n!pip install --upgrade scipy\n!pip install --upgrade tensorflow\n!pip install --upgrade keras\n!pip install --upgrade sklearn\n'

In [2]:
import scipy.signal as sci
import scipy.stats as scp
import pandas as pd
import matplotlib
matplotlib.use('nbagg')
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from math import sqrt
import math
import os
import json
import time
import seaborn as sns
from core.data_processor import DataLoader
from core.model import Model
import datetime

Using TensorFlow backend.

In [3]:
#Parameters 
class Parameters(object):
    pass

param = Parameters()
param.tickSize = 0.5 #tick size is 0.5 GBp i.e. 0.005 GBP

param.fileDirectory = './intraday/'
param.trade_InSampleFile = 'trade_in.csv'
param.quote_InSampleFile = 'quote_in.csv'

param.trade_OutSampleFile = 'trade_out.csv'
param.quote_OutSampleFile = 'quote_out.csv'

In [4]:
param.fileDirectory

'./intraday/'

In [5]:
#Identify future mid prices - 30 seconds duration
def IdentifyFutureMidPrices(df, predictionDuration = 30):
    futDat = df[['datetime', 'mid']].rename(columns={'mid':'futMid'})
    futDat['datetime'] = futDat['datetime'] - pd.offsets.timedelta(seconds=int(predictionDuration))
    return pd.merge_asof(df, futDat, on='datetime', direction='backward')

def ReadCSV(file):
    print('Loading file - ' + file)
    df = pd.read_csv(file)
    df['datetime'] = pd.to_datetime(df['datetime'], format="%Y-%m-%dD%H:%M:%S.%f")
    return df

#Load data
def LoadData(path, tradeFile, quoteFile):
    tradeFile = os.path.join(path, tradeFile)
    quoteFile = os.path.join(path, quoteFile)

    trade_df = ReadCSV(tradeFile)
    quote_df = ReadCSV(quoteFile)
    
    quote_df['mid'] = 0.5*(quote_df['bid'].copy() + quote_df['ask'].copy())
    quote_df['midChangeGroup'] = quote_df['mid'].diff().ne(0).cumsum()
    quote_df = IdentifyFutureMidPrices(quote_df)
    return trade_df, quote_df

#Evaluation function
#df should contain columns - datetime, sym, bsize, bid, ask, asize, predMid (model predicted mid-price)
#Function to evaluate results and return RMS if needed
def RMS(df, ret = False):
    df = df.groupby(['midChangeGroup']).first().reset_index()
    tmp = df.dropna(subset=['predMid', 'futMid'])
    rms = sqrt(mean_squared_error(tmp['futMid'], tmp['predMid']))
    predCount = len(tmp['predMid'])
    print('RMS = %.4f. #Predictions = %s' % (rms, predCount))
    if ret == True:
        return rms

In [6]:
df_tradein,df_quotein   = LoadData(param.fileDirectory,param.trade_InSampleFile,param.quote_InSampleFile)
df_tradeout,df_quoteout = LoadData(param.fileDirectory,param.trade_OutSampleFile,param.quote_OutSampleFile)

Loading file - ./intraday/trade_in.csv
Loading file - ./intraday/quote_in.csv
Loading file - ./intraday/trade_out.csv
Loading file - ./intraday/quote_out.csv

In [7]:
df_quotein.head()

,datetime,sym,bsize,bid,ask,asize,mid,midChangeGroup,futMid
0,2018-02-01 05:00:09.686,TEST.L,11850,4800.0,5100.0,8450,4950.0,1,4950.0
1,2018-02-01 07:50:00.048,TEST.L,11850,4800.0,4884.0,237,4842.0,2,4842.0
2,2018-02-01 07:50:00.077,TEST.L,11965,4800.0,4884.0,237,4842.0,2,4842.0
3,2018-02-01 07:50:00.078,TEST.L,12084,4800.0,4884.0,237,4842.0,2,4842.0
4,2018-02-01 07:50:00.095,TEST.L,12384,4800.0,4884.0,237,4842.0,2,4842.0

In [8]:
df_tradein.head()

                 datetime     sym   price  size
0 2018-02-01 07:50:00.077  TEST.L  4884.0   115
1 2018-02-01 07:50:00.078  TEST.L  4884.0   234
2 2018-02-01 07:50:00.095  TEST.L  4884.0   534
3 2018-02-01 07:50:00.177  TEST.L  4884.0   534
4 2018-02-01 07:50:00.179  TEST.L  4884.0   534

In [9]:
#Feature Engineering  
def feature_engg(df_quote,df_trade):
    df1 = df_quote[['datetime', 'bid', 'ask', 'bsize', 'asize','midChangeGroup','futMid','mid']]
    df2 = df_trade[['datetime', 'price', 'size']]

    # To find when the market opens 
    trade_rate = df2['size'].shift(-1)-df2['size']
    peaks = sci.find_peaks(x=-trade_rate, threshold=10000)[0]
    start = peaks[0]+1

    # Discarding data before market opening
    trade = df2[start:len(df2)]
    quote = df1[df1['datetime']>=df2.loc[start,'datetime']]
    
    # Finding change in bid_size and ask_size to spot sell orders and buy orders
    quote['b_change'] = quote['bsize']-quote['bsize'].shift(1)
    quote['a_change'] = quote['asize']-quote['asize'].shift(1)
    
    # Finding arrival rate
    quote['del_t'] = (quote['datetime'] - quote['datetime'].shift(1)).dt.total_seconds()
    quote.loc[quote['del_t'] == 0, 'del_t'] = np.nan
    quote['del_t'].fillna(method = 'ffill', inplace = True)
    quote['order_change'] = 0
    quote.loc[quote['b_change'] != 0, 'order_change'] = quote['b_change']
    quote.loc[quote['a_change'] != 0, 'order_change'] = quote['a_change']
    
    # VARIABLE 1 - arrival_rate = d(order_size)/(dt)
    quote['arrival_rate'] = quote['order_change']/quote['del_t']
    
    # Create a column 'merger' to match trade with quote based on trade price matching 
    # either the ask price or bid price (decided by change in bsize or asize) 
    quote['merger'] = quote['datetime']
    quote.reset_index(drop = True, inplace = True)
    quote.loc[quote[quote['b_change'] != 0].drop(0, axis = 0).index, 'merger'] = quote.loc[quote['b_change'] != 0, 'datetime'].drop(0, axis = 0).apply(str).values + '-' + quote.loc[quote['b_change'].shift(-1) != 0, 'bid'].apply(str).values[:-1]
    quote.loc[quote[quote['a_change'] != 0].drop(0, axis = 0).index, 'merger'] = quote.loc[quote['a_change'] != 0, 'datetime'].drop(0, axis = 0).apply(str).values + '-' + quote.loc[quote['a_change'].shift(-1) != 0, 'ask'].apply(str).values[:-1]

    # Cumulative count label to handle multiple trades and quotes at the same time instant
    quote['cum_count'] = quote.groupby('merger').cumcount()
    quote['merger'] = quote['cum_count'].apply(str) + ':' + quote['merger'].apply(str)

    # Adding cumulative count to merger to create unique values in merge column'
    trade['merger'] = trade['datetime'].apply(str) + '-' + trade['price'].apply(str)
    trade['cum_count'] = trade.groupby('merger').cumcount()
    trade['merger'] = trade['cum_count'].apply(str) + ':' + trade['merger'].apply(str)

    # Drop unnecessary column
    trade.drop('cum_count', axis = 1, inplace = True)
    quote.drop('cum_count', axis = 1, inplace = True)

    # Merge Quote and Trade based on the 'merger' column
    df = quote.merge(trade, how = 'left', on='merger')
    
    # Drop unnecessary columns
    df.drop(['datetime_y', 'a_change', 'b_change', 'merger', 'del_t', 'order_change'], inplace = True, axis = 1)

    # Finding accumalated imbalance
    df.set_index('datetime_x', inplace = True)
    df['Accum_Bid'] = df.loc[:,['bsize']].rolling('1s').sum()
    df['Accum_Ask'] = df.loc[:,['asize']].rolling('1s').sum()
    
    # VARIABLE 2 - integrated imbalance = (total bsize - total asize)/(total bsize + total asize) in 1s
    df['imbalance'] = (df['Accum_Bid'] - df['Accum_Ask'])/(df['Accum_Bid'] + df['Accum_Ask'])
    df.reset_index(inplace = True)
    
    # Identifying buy/sell Trades and no Trades
    # VARIABLE 3 - Trade = +1 (Buy), -1 (Sell), 0 (No Trade)
    df['Trade'] = 0
    df.loc[df['price'] == df['ask'].shift(1), 'Trade'] = 1
    df.loc[df['price'] == df['bid'].shift(1), 'Trade'] = -1

    # Trade size and Trade Price resolving NAs
    # VARIABLE 4 - size of Trade
    df['size'].fillna(0, inplace = True)
    
    # VARIABLE 5 - price of Trade
    df['price'].fillna(0, inplace = True)
    
    # VARIABLE 6 - spread = bid - ask
    df['spread'] = df['ask'] - df['bid']
    
    # Drop unnecessary columns
    df.drop(['bsize', 'asize', 'ask', 'bid', 'Accum_Bid', 'Accum_Ask'], inplace = True, axis = 1)
    
    return df.dropna().reset_index(drop = True)

In [10]:
df = feature_engg(df_quotein,df_tradein)

In [11]:
df.head()

,datetime_x,midChangeGroup,futMid,mid,arrival_rate,price,size,imbalance,Trade,spread
0,2018-02-01 08:00:18.248,7,4839.5,4832.75,458000.0,0.0,0.0,-0.273973,0,8.5
1,2018-02-01 08:00:18.248,8,4839.5,4834.50,-90500.0,0.0,0.0,-0.509378,0,5.0
2,2018-02-01 08:00:18.248,8,4839.5,4834.50,15500.0,0.0,0.0,-0.607748,0,5.0
3,2018-02-01 08:00:18.248,8,4839.5,4834.50,7500.0,0.0,0.0,-0.659197,0,5.0
4,2018-02-01 08:00:18.249,8,4839.5,4834.50,-31000.0,0.0,0.0,-0.701681,0,5.0

In [12]:
# Normalizing the feature vectors
def norm_zero(df,columns):
    df.dropna(inplace = True)
    mean = df.loc[:,columns].mean()
    std = df.loc[:,columns].std()
    df.loc[:,columns] = (df.loc[:,columns] - mean)/std
    return [df, mean, std]

# Normalizinf only non classification columns
columns = ['price', 'size', 'imbalance', 'spread', 'arrival_rate']
[df_std, mean, std] = norm_zero(df, columns)
df_std.reset_index(inplace = True, drop = True)

# Saving as CSV
print('Saving as CSV...')
df_std.to_csv('merged.csv')
df_std.info()

Saving as CSV...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672754 entries, 0 to 1672753
Data columns (total 10 columns):
datetime_x        1672754 non-null datetime64[ns]
midChangeGroup    1672754 non-null int32
futMid            1672754 non-null float64
mid               1672754 non-null float64
arrival_rate      1672754 non-null float64
price             1672754 non-null float64
size              1672754 non-null float64
imbalance         1672754 non-null float64
Trade             1672754 non-null int64
spread            1672754 non-null float64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(1)
memory usage: 121.2 MB

In [13]:
print('Mean : \n', mean, '\n\nStd : \n', std)
df_std.head()

Mean :
 price           451.867646
size             17.666106
imbalance         0.004559
spread            1.142605
arrival_rate    794.949975
dtype: float64

Std :
 price             1365.207143
size              2607.609894
imbalance            0.317633
spread               2.115517
arrival_rate    212758.241086
dtype: float64

,datetime_x,midChangeGroup,futMid,mid,arrival_rate,price,size,imbalance,Trade,spread
0,2018-02-01 08:00:18.248,7,4839.5,4832.75,2.148942,-0.330988,-0.006775,-0.876897,0,3.477824
1,2018-02-01 08:00:18.248,8,4839.5,4834.50,-0.429102,-0.330988,-0.006775,-1.618022,0,1.823382
2,2018-02-01 08:00:18.248,8,4839.5,4834.50,0.069116,-0.330988,-0.006775,-1.927718,0,1.823382
3,2018-02-01 08:00:18.248,8,4839.5,4834.50,0.031515,-0.330988,-0.006775,-2.089693,0,1.823382
4,2018-02-01 08:00:18.249,8,4839.5,4834.50,-0.149442,-0.330988,-0.006775,-2.223445,0,1.823382

In [14]:
def plot_results(predicted_data, true_data):
    fig = plt.figure(facecolor='white')
    ax = fig.add_subplot(111)
    ax.plot(true_data, label='True Data')
    plt.plot(predicted_data, label='Prediction')
    plt.legend()
    plt.show()

In [15]:
def plot_results_multiple(predicted_data, true_data, prediction_len):
    fig = plt.figure(facecolor='white')
    ax = fig.add_subplot(111)
    ax.plot(true_data, label='True Data')
        # Pad the list of predictions to shift it in the graph to it's correct start
    for i, data in enumerate(predicted_data):
        padding = [None for p in range(i * prediction_len)]
        plt.plot(padding + data, label='Prediction')
        plt.legend()
    plt.show()

In [ ]:
# Using a simple machine learning algorithm to iteratively try larger
# histories till the RMS doesn't improve significantly

########################################################################
# RUN ONLY ONCE TO FIND OUT HOW MUCH HISTORY IS NEEDED. 
# NO NEED TO RUN DURING EVERY TRAINING
########################################################################

max_history = 15
rms_set = []
lm = LinearRegression()

inputs = ['arrival_rate', 'price', 'size', 'imbalance', 'Trade', 'spread']
X = df.loc[:, inputs].reset_index(drop = True)
Y = df.loc[:,'mid'].reset_index(drop = True)

lm.fit(X, Y)

data_frame = pd.DataFrame()
data_frame['predMid'] = lm.predict(X)
data_frame['futMid'] = Y
data_frame['midChangeGroup'] = df.loc[:, 'midChangeGroup']

print('History = 0')
rms_set.append(RMS(data_frame, True))
    
for history in range(1, max_history+1):
    new_X = df.loc[history:, inputs].reset_index(drop = True)
    data_frame = pd.DataFrame()
    data_frame['midChangeGroup'] = df.loc[history:, 'midChangeGroup']

    X = new_X.join(X, rsuffix=history).dropna()
    Y = df.loc[history:,'mid'].reset_index(drop = True)
    data_frame['futMid'] = Y
    
    lm.fit(X, Y)
    data_frame['predMid'] = lm.predict(X)
    
    print('History = ', history)
    rms_set.append(RMS(data_frame, True))

plt.plot(rms_set)
plt.show()

History = 0
RMS = 121.0331. #Predictions = 370691
History =  1
RMS = 121.0154. #Predictions = 370689
History =  2
RMS = 120.9977. #Predictions = 370688
History =  3
RMS = 120.9929. #Predictions = 370688
History =  4
RMS = 120.9905. #Predictions = 370687
History =  5
RMS = 120.9882. #Predictions = 370685
History =  6
RMS = 120.9796. #Predictions = 370684
History =  7
RMS = 120.9762. #Predictions = 370682
History =  8
RMS = 120.9679. #Predictions = 370680

In [6]:
# LSTM model in ./core/model.py
# config contains all required parameters for the model 

def model_run():
    configs = json.load(open('config.json', 'r'))
    if not os.path.exists(configs['model']['save_dir']): os.makedirs(configs['model']['save_dir'])

    data = DataLoader(
        configs['data']['filename'],
        configs['data']['train_test_split'],
        configs['data']['columns']
    )

    model = Model()
    model.build_model(configs)
    x, y = data.get_train_data(
        seq_len=configs['data']['sequence_length'],
        normalise=configs['data']['normalise']
    )

    '''
        # in-memory training
        model.train(
            x,
            y,
            epochs = configs['training']['epochs'],
            batch_size = configs['training']['batch_size'],
            save_dir = configs['model']['save_dir']
        )
    '''
    # out-of memory generative training
    steps_per_epoch = math.ceil((data.len_train - configs['data']['sequence_length']) / configs['training']['batch_size'])
    model.train_generator(
        data_gen=data.generate_train_batch(
            seq_len=configs['data']['sequence_length'],
            batch_size=configs['training']['batch_size'],
            normalise=configs['data']['normalise']
        ),
        epochs=configs['training']['epochs'],
        batch_size=configs['training']['batch_size'],
        steps_per_epoch=steps_per_epoch,
        save_dir=configs['model']['save_dir']
    )

    x_test, y_test = data.get_test_data(
        seq_len=configs['data']['sequence_length'],
        normalise=configs['data']['normalise']
    )
# model_run()

[Model] Model Compiled
Time taken: 0:00:01.953746
[Model] Training Started
[Model] 100 epochs, 256 batch size, 5227.0 batches per epoch
Epoch 1/100
5227/5227 [==============================] - 14484s 3s/step - loss: 0.0072
Epoch 2/100
5227/5227 [==============================] - 14367s 3s/step - loss: 0.0061
Epoch 3/100
2037/5227 [==========>...................] - ETA: 3:26:58 - loss: 0.0228

KeyboardInterrupt:

In [12]:
#Loading saved model
from keras.models import load_model

# returns a compiled model
# identical to the previous one
#To run if not trained the model
configs = json.load(open('config.json', 'r'))
model = Model()
model.build_model(configs)
model.load_model('./model.h5')

[Model] Model Compiled
Time taken: 0:00:01.778387
[Model] Loading model from file ./model.h5

In [108]:
df_test = feature_engg(df_quoteout,df_tradeout)

# Normalise test data
def norm_test(df_test):
    columns = list(mean.index)
    df_test.loc[:,columns] = (df_test.loc[:,columns] - mean)/std
    return df_test

# Normalizing test data using the mean and std obtained from the training data
df_std = norm_test(df_test)
df_std.reset_index(inplace = True, drop = True)

# Saving as CSV
print('Saving as CSV...')
df_std.to_csv('merged_test.csv')
df_std.info()

Saving as CSV...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207256 entries, 0 to 207255
Data columns (total 10 columns):
datetime_x        207256 non-null datetime64[ns]
midChangeGroup    207256 non-null int32
futMid            207256 non-null float64
mid               207256 non-null float64
arrival_rate      207256 non-null float64
price             207256 non-null float64
size              207256 non-null float64
imbalance         207256 non-null float64
Trade             207256 non-null int64
spread            207256 non-null float64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(1)
memory usage: 15.0 MB

In [110]:
df_std.head()

,datetime_x,midChangeGroup,futMid,mid,arrival_rate,price,size,imbalance,Trade,spread
0,2018-02-14 08:00:22.710,8,4435.5,4429.75,1.105504,-0.330988,-0.006775,2.003214,0,7.732103
1,2018-02-14 08:00:22.710,8,4435.5,4429.75,3.690598,-0.330988,-0.006775,2.008645,0,7.732103
2,2018-02-14 08:00:22.710,9,4435.5,4433.00,-4.299692,-0.330988,-0.006775,1.864455,0,4.659568
3,2018-02-14 08:00:22.710,9,4435.5,4433.00,3.897405,-0.330988,-0.006775,1.878608,0,4.659568
4,2018-02-14 08:00:22.710,9,4435.5,4433.00,3.897405,-0.330988,-0.006775,1.482022,0,4.659568

In [13]:
#For testing the data, we are testing it on cross validation data
data_test = DataLoader(configs['data']['test_filename'],1,configs['data']['columns'])
x_test, y_test = data_test.get_test_data(seq_len=configs['data']['sequence_length'],normalise=configs['data']['normalise'])

In [24]:
#To find the indicies where mid price changes
i_split = int(len(df_std) * 0.9848)
data_test  = df.iloc[i_split:]
data_test=data_test.reset_index(inplace=False,drop=True)
data_test

,datetime,bid,ask,bsize,asize,midChangeGroup,futMid,mid,price,size,arrival_rate,Trade,Buy,spread
0,2018-02-13 15:27:01.085,4409.5,4410.5,110,457,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
1,2018-02-13 15:27:01.089,4409.5,4410.5,110,438,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
2,2018-02-13 15:27:01.089,4409.5,4410.5,110,395,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
3,2018-02-13 15:27:01.409,4409.5,4410.5,366,395,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
4,2018-02-13 15:27:01.409,4409.5,4410.5,436,395,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
5,2018-02-13 15:27:01.409,4409.5,4410.5,366,395,365484,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
6,2018-02-13 15:27:01.502,4409.5,4410.0,366,58,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
7,2018-02-13 15:27:01.502,4409.5,4410.0,110,58,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
8,2018-02-13 15:27:03.082,4409.5,4410.0,110,269,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
9,2018-02-13 15:27:04.219,4409.5,4410.0,230,269,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
10,2018-02-13 15:27:06.919,4409.5,4410.0,326,269,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
11,2018-02-13 15:27:10.239,4409.5,4410.0,582,269,365485,4411.0,4409.75,NaN,NaN,NaN,0,NaN,0.5
12,2018-02-13 15:27:10.240,4409.5,4410.0,582,211,365485,4411.0,4409.75,4410.0,211.0,9.405,1,1.0,0.5
13,2018-02-13 15:27:10.242,4409.5,4410.5,582,295,365486,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
14,2018-02-13 15:27:10.242,4409.5,4410.5,582,120,365486,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
15,2018-02-13 15:27:10.242,4409.5,4410.5,647,120,365486,4411.0,4410.00,NaN,NaN,NaN,0,NaN,1.0
16,2018-02-13 15:27:10.242,4410.0,4410.5,175,120,365487,4411.0,4410.25,NaN,NaN,NaN,0,NaN,0.5
17,2018-02-13 15:27:10.242,4410.0,4410.5,675,120,365487,4411.0,4410.25,NaN,NaN,NaN,0,NaN,0.5
18,2018-02-13 15:27:10.243,4410.0,4410.5,675,108,365487,4411.0,4410.25,4410.5,12.0,0.003,1,1.0,0.5
19,2018-02-13 15:27:10.245,4410.0,4411.0,675,1404,365488,4411.0,4410.50,4410.5,108.0,0.002,1,1.0,1.0
20,2018-02-13 15:27:10.245,4410.0,4411.0,675,1304,365488,4411.0,4410.50,4410.5,108.0,0.002,1,NaN,1.0
21,2018-02-13 15:27:10.245,4410.0,4411.0,675,1048,365488,4411.0,4410.50,4410.5,108.0,0.002,1,NaN,1.0
22,2018-02-13 15:27:10.245,4410.0,4411.0,500,1048,365488,4411.0,4410.50,4410.5,108.0,0.002,1,NaN,1.0
23,2018-02-13 15:27:10.245,4410.0,4411.0,500,747,365488,4411.0,4410.50,4410.5,108.0,0.002,1,NaN,1.0
24,2018-02-13 15:27:10.247,4410.0,4411.0,756,747,365488,4411.0,4410.50,NaN,NaN,NaN,0,NaN,1.0
25,2018-02-13 15:27:10.309,4410.0,4411.0,756,564,365488,4411.0,4410.50,NaN,NaN,NaN,0,NaN,1.0
26,2018-02-13 15:27:10.354,4410.0,4411.0,1047,564,365488,4411.0,4410.50,NaN,NaN,NaN,0,NaN,1.0
27,2018-02-13 15:27:10.354,4410.0,4411.0,1047,488,365488,4411.0,4410.50,NaN,NaN,NaN,0,NaN,1.0
28,2018-02-13 15:27:10.397,4410.0,4411.0,756,488,365488,4411.0,4410.50,NaN,NaN,NaN,0,NaN,1.0
29,2018-02-13 15:27:10.414,4410.0,4411.0,571,488,365488,4411.0,4410.50,4410.0,185.0,0.169,1,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25396,2018-02-13 17:30:00.154,4375.5,4388.5,20385,812,370669,NaN,4382.00,NaN,NaN,NaN,0,NaN,13.0
25397,2018-02-13 17:30:00.154,4375.0,4388.5,100,812,370670,NaN,4381.75,NaN,NaN,NaN,0,NaN,13.5
25398,2018-02-13 17:30:00.157,4375.0,4397.0,100,589,370671,NaN,4386.00,NaN,NaN,NaN,0,NaN,22.0
25399,2018-02-13 17:30:00.157,4375.0,4404.5,100,20385,370672,NaN,4389.75,NaN,NaN,NaN,0,NaN,29.5
25400,2018-02-13 17:30:00.157,4375.0,4408.5,100,8639,370673,NaN,4391.75,NaN,NaN,NaN,0,NaN,33.5
25401,2018-02-13 17:30:00.157,4375.0,4410.5,100,82,370674,NaN,4392.75,NaN,NaN,NaN,0,NaN,35.5
25402,2018-02-13 17:30:00.157,4375.0,4412.0,100,8404,370675,NaN,4393.50,NaN,NaN,NaN,0,NaN,37.0
25403,2018-02-13 17:30:00.157,4375.0,4413.5,100,353,370676,NaN,4394.25,NaN,NaN,NaN,0,NaN,38.5
25404,2018-02-13 17:30:00.157,4375.0,4418.5,100,16409,370677,NaN,4396.75,NaN,NaN,NaN,0,NaN,43.5
25405,2018-02-13 17:30:00.157,4375.0,4422.5,100,11212,370678,NaN,4398.75,NaN,NaN,NaN,0,NaN,47.5
25406,2018-02-13 17:30:00.157,4375.0,4458.0,100,6,370679,NaN,4416.50,NaN,NaN,NaN,0,NaN,83.0
25407,2018-02-13 17:30:00.157,4375.0,4464.5,100,150,370680,NaN,4419.75,NaN,NaN,NaN,0,NaN,89.5
25408,2018-02-13 17:30:00.157,4375.0,4465.5,100,23,370681,NaN,4420.25,NaN,NaN,NaN,0,NaN,90.5
25409,2018-02-13 17:30:00.157,4375.0,4471.0,100,149,370682,NaN,4423.00,NaN,NaN,NaN,0,NaN,96.0
25410,2018-02-13 17:30:00.157,4375.0,4474.0,100,84,370683,NaN,4424.50,NaN,NaN,NaN,0,NaN,99.0
25411,2018-02-13 17:30:00.157,4375.0,4477.5,100,150,370684,NaN,4426.25,NaN,NaN,NaN,0,NaN,102.5
25412,2018-02-13 17:30:00.157,4375.0,4483.0,100,89,370685,NaN,4429.00,NaN,NaN,NaN,0,NaN,108.0
25413,2018-02-13 17:30:00.157,4375.0,4484.5,100,161,370686,NaN,4429.75,NaN,NaN,NaN,0,NaN,109.5
25414,2018-02-13 17:30:00.157,4375.0,4491.0,100,149,370687,NaN,4433.00,NaN,NaN,NaN,0,NaN,116.0
25415,2018-02-13 17:30:00.157,4375.0,4492.5,100,94,370688,NaN,4433.75,NaN,NaN,NaN,0,NaN,117.5
25416,2018-02-13 17:30:00.157,4375.0,4497.5,100,150,370689,NaN,4436.25,NaN,NaN,NaN,0,NaN,122.5
25417,2018-02-13 17:30:00.158,4375.0,4502.5,100,99,370690,NaN,4438.75,NaN,NaN,NaN,0,NaN,127.5
25418,2018-02-13 17:30:00.158,4375.0,4504.0,100,149,370691,NaN,4439.50,NaN,NaN,NaN,0,NaN,129.0
25419,2018-02-13 17:30:00.158,4375.0,4510.5,100,150,370692,NaN,4442.75,NaN,NaN,NaN,0,NaN,135.5
25420,2018-02-13 17:30:00.158,4375.0,4513.0,100,104,370693,NaN,4444.00,NaN,NaN,NaN,0,NaN,138.0
25421,2018-02-13 17:30:00.158,4375.0,4517.5,100,161,370694,NaN,4446.25,NaN,NaN,NaN,0,NaN,142.5
25422,2018-02-13 17:30:00.159,4375.0,4524.0,100,257,370695,NaN,4449.50,NaN,NaN,NaN,0,NaN,149.0
25423,2018-02-13 17:30:00.159,4375.0,4524.0,100,149,370695,NaN,4449.50,NaN,NaN,NaN,0,NaN,149.0
25424,2018-02-13 17:30:00.159,4375.0,4530.5,100,150,370696,NaN,4452.75,NaN,NaN,NaN,0,NaN,155.5
25425,2018-02-13 17:30:00.159,4375.0,4550.0,100,10100,370697,NaN,4462.50,NaN,NaN,NaN,0,NaN,175.0

In [25]:
# To get indices where mid price changes
indice_loc= data_test.midChangeGroup.drop_duplicates(keep='first', inplace=False).index
indice_loc = list(indice_loc)
indice_loc=[i for i in indice_loc if i<(indice_loc[-1]-990)]

5014

In [97]:
#We have for 30 secs that is 200 time steps hence
# prediction = model.predict_at_new_mid(x_test, configs['data']['sequence_length'],200,indice_loc)

[Model] Predicting at new mid price...
Done

In [23]:
# Figure out timesteps of 30sec from that indice
def timestep(X,indice):
    start = X.loc[X['datetime'] <= X.loc[indice,'datetime']+datetime.timedelta(seconds = 30)].index[-1]
    timestep = start - indice
    return timestep

In [51]:
# Prediction depending on 30 sec timestep

prediction = []
for i in indice_loc:
    step = timestep(data_test,i)
    A = model.predict_at_new_mid_one(x_test,configs['data']['sequence_length'], step, i)
    temp = A[0][-1]
    prediction.append(temp)

[Model] Predicting at new mid price...
Done
[Model] Predicting at new mid price...
Done
[Model] Predicting at new mid price...
Done
[Model] Predicting at new mid price...
Done
[Model] Predicting at new mid price...
Done
2.51862502098

In [98]:
df = pd.DataFrame(prediction)

In [99]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,-1.171487,-1.172016,-1.172196,-1.172244,-1.172164,-1.172019,-1.171868,-1.171732,-1.171620,-1.171536,...,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241
1,-1.171218,-1.172192,-1.172396,-1.172400,-1.172277,-1.172096,-1.171922,-1.171771,-1.171650,-1.171561,...,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241
2,-1.171782,-1.172196,-1.172328,-1.172373,-1.172258,-1.172084,-1.171908,-1.171756,-1.171635,-1.171545,...,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241
3,-1.171620,-1.172243,-1.172274,-1.172277,-1.172163,-1.172006,-1.171852,-1.171717,-1.171610,-1.171529,...,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241
4,-1.171555,-1.172037,-1.172180,-1.172242,-1.172160,-1.172017,-1.171869,-1.171735,-1.171625,-1.171542,...,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241,-1.171241

In [102]:
#Making a new data frame containg fut mid and pred mid
A  = pd.DataFrame(predictions)
A = A*std+mean
# B = A.iloc[:,199]
Test = data_test.futMid.iloc[indice_loc].reset_index()
Test = pd.DataFrame(Test)
Test['Predmid'] = A

In [103]:
#RMS error
rms = sqrt(mean_squared_error(Test['futMid'], Test['Predmid']))
predCount = len(Test['Predmid'])
print('RMS = %.4f. #Predictions = %s' % (rms, predCount))

RMS = 34.7518. #Predictions = 5014